.version.index /* version checker */
{
	color: #000009;
	background-color: #F507BC;
}

#page
{
	z-index: 1;
	border-width: 0px;
	margin-right: auto;
	background-image: none;
	border-color: #000000;
	width: 100%;
	background-color: transparent;
	margin-left: auto;
}

#u94
{
	z-index: 5;
	-pie-box-shadow: 1px 1px 14px #686868;
	position: relative;
	width: 100%;
	box-shadow: 1px 1px 14px rgba(0,0,0,0.59);
	background-color: #F6F8EB;
}

#u119
{
	margin-right: -10000px;
	position: relative;
	margin-top: 4px;
	background-color: transparent;
}

#u119_img
{
	width: 100%;
}

#u129
{
	z-index: 2;
	background-color: transparent;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	background-size: cover;
}

#u132
{
	z-index: 3;
	border-width: 0px;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
	background-color: transparent;
}

#u201
{
	z-index: 4;
	-pie-box-shadow: 2px 5px 25px #686868;
	background-color: #F6F8D7;
	position: relative;
	box-shadow: 2px 5px 25px rgba(0,0,0,0.59);
}

#u251-10
{
	position: relative;
	background-color: transparent;
}

#u251-3
{
	font-size: 13px;
	line-height: 16px;
}

#u251-2
{
	color: #004C32;
	font-weight: bold;
}

#u251-6
{
	font-size: 12px;
	line-height: 14px;
}

#u251-5
{
	color: #006F00;
}

#u251-8
{
	font-size: 12px;
	color: #006F00;
	line-height: 14px;
}

#u248-7
{
	line-height: 13px;
	min-height: 16px;
	position: relative;
	font-size: 11px;
	background-color: transparent;
}

#u248-3
{
	color: #000000;
	font-weight: bold;
}

#u248-2,#u248-4
{
	color: #000000;
}

#u234
{
	border-width: 0px;
	position: relative;
	border-color: transparent;
	min-width: 30px;
	background-color: transparent;
	max-width: 100000px;
}

#u257
{
	border-color: transparent;
	min-height: 28px;
	position: relative;
	border-width: 0px;
	background-color: transparent;
}

#u204
{
	border-color: transparent;
	min-height: 24px;
	position: relative;
	border-width: 0px;
	background-color: transparent;
}

#u284
{
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/fb.jpg") no-repeat center center;
}

#u295-6
{
	position: relative;
	line-height: 19px;
	margin-right: -10000px;
	min-height: 19px;
	text-align: left;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	background-color: transparent;
}

#u184,#u189,#u194
{
	border-width: 0px;
	line-height: 12px;
	font-weight: bold;
	position: relative;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-size: 10px;
	border-color: transparent;
	background-color: transparent;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 721px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 813px;
		padding-bottom: 62px;
		max-width: 960px;
	}

	#pu129
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 95.84%;
		margin-left: 2.09%;
	}

	#u129
	{
		height: 618px;
		background-image: url("../images/fantasy-grass-background.jpg");
		margin-right: -10000px;
		margin-top: 104px;
	}

	#u94
	{
		padding-bottom: 4px;
		margin-right: -10000px;
	}

	#u119
	{
		z-index: 8;
		width: 14.14%;
		left: 2.5%;
	}

	#u132
	{
		width: 920px;
		min-height: 574px;
		margin-top: 158px;
		left: 20px;
	}

	#u201
	{
		padding-bottom: 2px;
		margin-right: -10000px;
		margin-top: 737px;
		width: 95.84%;
		left: 2.09%;
	}

	#pu204
	{
		margin-right: -10000px;
		margin-top: 12px;
		width: 25.55%;
		margin-left: 1.74%;
	}

	#u204
	{
		z-index: 13;
		width: 235px;
	}

	#u257
	{
		z-index: 32;
		width: 193px;
		margin-top: 5px;
	}

	#pu284
	{
		margin-top: 4px;
		width: 84.69%;
	}

	#u284
	{
		z-index: 33;
		height: 19px;
		width: 11.56%;
	}

	#u295-6
	{
		z-index: 34;
		width: 85.43%;
		left: 14.58%;
	}

	#pu251-10
	{
		margin-right: -10000px;
		margin-top: 36px;
		width: 16.53%;
		margin-left: 42.72%;
	}

	#u251-10
	{
		z-index: 22;
		min-height: 13px;
		width: 100%;
	}

	#u248-7
	{
		z-index: 15;
		margin-top: 5px;
		width: 100%;
	}

	#u234
	{
		z-index: 14;
		height: 102px;
		margin-right: -10000px;
		margin-top: 4px;
		width: 21.74%;
		left: 77.83%;
	}

	#u184
	{
		z-index: 10;
		width: 240px;
		min-height: 100px;
		margin-right: -10000px;
		margin-top: 391px;
		left: 50px;
	}

	#u102
	{
		z-index: 6;
		width: 734px;
		min-height: 124px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: left;
		text-decoration: none;
		text-indent: -1px;
		font-size: 64px;
		line-height: 77px;
		font-family: Comic Sans MS;
		position: relative;
		margin-right: -10000px;
		margin-top: 30px;
		margin-left: 100%;
		left: -760px;
	}

	#u189
	{
		z-index: 11;
		width: 270px;
		min-height: 100px;
		margin-right: -10000px;
		margin-top: 391px;
		margin-left: 50%;
		left: -126px;
	}

	#pu111
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 109px;
		width: 30.53%;
		margin-left: 69.48%;
	}

	#u111
	{
		z-index: 7;
		width: 293px;
		min-height: 45px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: right;
		font-size: 18px;
		line-height: 22px;
		position: relative;
		margin-left: 100%;
		left: -325px;
	}

	#u194
	{
		z-index: 12;
		width: 183px;
		min-height: 65px;
		margin-top: 237px;
		margin-left: 100%;
		left: -271px;
	}

}

@media (min-width: 481px) and (max-width: 720px)
{
	#muse_css_mq
	{
		background-color: #0002d0;
	}

	#bp_720.active
	{
		display: block;
	}

	#page
	{
		min-height: 590px;
		padding-bottom: 285px;
		max-width: 720px;
	}

	#pu94
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 95.84%;
		margin-left: 2.09%;
	}

	#u94
	{
		padding-bottom: 8px;
	}

	#u119
	{
		z-index: 7;
		width: 13.63%;
		left: 0.73%;
	}

	#u129
	{
		height: 356px;
		background-image: url("../images/fantasy-grass-background.jpg");
		top: -8px;
		margin-bottom: -8px;
	}

	#u201
	{
		padding-bottom: 4px;
		width: 100%;
	}

	#pu204
	{
		margin-right: -10000px;
		margin-top: 10px;
		width: 34.06%;
		margin-left: 1.45%;
	}

	#u204
	{
		z-index: 12;
		width: 235px;
	}

	#u257
	{
		z-index: 31;
		width: 193px;
		margin-top: 5px;
	}

	#pu284
	{
		margin-top: 5px;
		width: 82.98%;
	}

	#u284
	{
		z-index: 32;
		height: 19px;
		width: 8.72%;
	}

	#u295-6
	{
		z-index: 33;
		width: 173px;
		left: 11.29%;
	}

	#pu251-10
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 34px;
		width: 20.29%;
		margin-left: 41.31%;
	}

	#u251-10
	{
		z-index: 21;
		width: 140px;
		min-height: 13px;
	}

	#u248-7
	{
		z-index: 14;
		width: 140px;
		margin-top: 3px;
	}

	#u234
	{
		z-index: 13;
		height: 102px;
		margin-right: -10000px;
		margin-top: 10px;
		width: 21.74%;
		left: 77.54%;
	}

	#u132
	{
		width: 680px;
		min-height: 340px;
		margin-top: 134px;
		margin-left: 100%;
		left: -700px;
	}

	#pu479
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 28px;
		margin-left: 39px;
	}

	#u479
	{
		z-index: 39;
		width: 560px;
		min-height: 90px;
		border-color: #000000;
		background-color: transparent;
		font-size: 48px;
		line-height: 58px;
		font-family: Comic Sans, Comic Sans MS, cursive;
		margin-left: 101px;
		position: relative;
	}

	#u184
	{
		z-index: 9;
		width: 221px;
		min-height: 77px;
		margin-top: 173px;
	}

	#u189
	{
		z-index: 10;
		width: 214px;
		min-height: 66px;
		margin-right: -10000px;
		margin-top: 291px;
		margin-left: 50%;
		left: -89px;
	}

	#pu111
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 89px;
		width: 31.53%;
		margin-left: 68.48%;
	}

	#u111
	{
		z-index: 6;
		width: 227px;
		min-height: 45px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: right;
		font-size: 18px;
		line-height: 22px;
		position: relative;
		margin-left: 100%;
		left: -247px;
	}

	#u194
	{
		z-index: 11;
		width: 172px;
		min-height: 66px;
		margin-top: 156px;
		margin-left: 100%;
		left: -202px;
	}

}

@media (min-width: 321px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 556px;
		padding-bottom: 62px;
		max-width: 480px;
	}

	#pu94
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 95.84%;
		margin-left: 2.09%;
	}

	#u94
	{
		padding-bottom: 4px;
	}

	#u119
	{
		z-index: 6;
		width: 14.14%;
		left: 2.4%;
	}

	#u129
	{
		height: 364px;
		background-image: url("../images/fantasy-grass-background-u129-fr.jpg");
		top: -1px;
		margin-bottom: -1px;
	}

	#u132
	{
		width: 452px;
		min-height: 333px;
		margin-top: 98px;
		left: 8px;
	}

	#u201
	{
		padding-bottom: 12px;
		margin-right: -10000px;
		margin-top: 446px;
		width: 95.84%;
		left: 1.67%;
	}

	#ppu251-10
	{
		margin-right: -10000px;
		margin-top: 9px;
		width: 60%;
		margin-left: 2.61%;
	}

	#pu251-10
	{
		width: 100%;
	}

	#u251-10
	{
		z-index: 20;
		min-height: 13px;
		margin-right: -10000px;
		width: 53.63%;
		left: 46.38%;
	}

	#u257
	{
		z-index: 30;
		width: 193px;
		margin-right: -10000px;
		margin-top: 29px;
	}

	#u248-7
	{
		z-index: 13;
		top: -8px;
		margin-bottom: -8px;
		width: 53.27%;
		margin-left: 46.74%;
	}

	#pu284
	{
		margin-top: 5px;
		width: 69.93%;
	}

	#u284
	{
		z-index: 31;
		height: 19px;
		width: 9.33%;
	}

	#u295-6
	{
		z-index: 32;
		width: 87.57%;
		left: 12.44%;
	}

	#u204
	{
		z-index: 11;
		width: 235px;
		margin-top: 12px;
	}

	#u234
	{
		z-index: 12;
		height: 126px;
		margin-right: -10000px;
		margin-top: 10px;
		width: 33.7%;
		left: 64.57%;
	}

	#pu691
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 28px;
		margin-left: 112px;
	}

	#u691
	{
		z-index: 38;
		width: 348px;
		min-height: 61px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: left;
		font-size: 36px;
		line-height: 43px;
		font-family: Comic Sans, Comic Sans MS, cursive;
		position: relative;
	}

	#u184
	{
		z-index: 8;
		width: 240px;
		min-height: 68px;
		margin-left: 8px;
		margin-top: 73px;
	}

	#u189
	{
		z-index: 9;
		width: 270px;
		min-height: 73px;
		margin-top: 20px;
	}

	#u194
	{
		z-index: 10;
		width: 240px;
		min-height: 100px;
		margin-left: 23px;
		margin-top: 20px;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 794px;
		padding-bottom: 81px;
		max-width: 320px;
	}

	#pu94
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 95.94%;
		margin-left: 2.19%;
	}

	#u94
	{
		padding-bottom: 4px;
	}

	#u119
	{
		z-index: 7;
		width: 14.01%;
		left: 2.61%;
	}

	#u129
	{
		height: 438px;
		background-image: url("../images/fantasy-grass-background-u129-fr2.jpg");
		top: -1px;
		margin-bottom: -1px;
	}

	#u132
	{
		width: 306px;
		min-height: 435px;
		margin-top: 73px;
		left: 7px;
	}

	#u201
	{
		padding-top: 11px;
		padding-bottom: 19.200000000000216px;
		margin-right: -10000px;
		margin-top: 495px;
		width: 95.94%;
		left: 1.88%;
	}

	#u251-10
	{
		z-index: 21;
		min-height: 57px;
		width: 58.64%;
		margin-left: 20.85%;
	}

	#u248-7
	{
		z-index: 14;
		top: -4px;
		margin-bottom: -4px;
		width: 58.64%;
		margin-left: 20.85%;
	}

	#u234
	{
		z-index: 13;
		height: 114px;
		margin-top: 5px;
		width: 61.89%;
		margin-left: 17.59%;
	}

	#pu257
	{
		margin-top: 17px;
		width: 96.75%;
		margin-left: 2.61%;
	}

	#u257
	{
		z-index: 31;
		width: 106px;
		margin-right: -10000px;
	}

	#u204
	{
		z-index: 12;
		width: 191px;
		margin-right: -10000px;
		margin-top: 2px;
		left: 35.7%;
	}

	#pu284
	{
		margin-top: 12px;
		width: 65.48%;
		margin-left: 19.87%;
	}

	#u284
	{
		z-index: 32;
		height: 23px;
		width: 10.95%;
	}

	#u295-6
	{
		z-index: 33;
		margin-top: 4px;
		width: 85.58%;
		left: 14.43%;
	}

	#pu710
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 28px;
		margin-left: 50px;
	}

	#u710
	{
		z-index: 39;
		width: 243px;
		min-height: 42px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 24px;
		line-height: 29px;
		font-family: Comic Sans, Comic Sans MS, cursive;
		margin-left: 20px;
		position: relative;
	}

	#u184
	{
		z-index: 9;
		width: 240px;
		min-height: 100px;
		margin-left: 10px;
		margin-top: 62px;
	}

	#u189
	{
		z-index: 10;
		width: 270px;
		min-height: 100px;
	}

	#u194
	{
		z-index: 11;
		width: 240px;
		min-height: 100px;
		margin-left: 30px;
		margin-top: 13px;
	}

	#u111
	{
		z-index: 6;
		width: 233px;
		min-height: 45px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: right;
		font-size: 18px;
		line-height: 22px;
		position: relative;
		margin-right: -10000px;
		margin-top: 109px;
		left: 701px;
	}

	body
	{
		min-width: 320px;
	}

}

