	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 813px;
		padding-bottom: 62px;
		max-width: 960px;
	}

	#pu129
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 95.84%;
		margin-left: 2.09%;
	}

	#u129
	{
		height: 618px;
		background-image: url("../images/fantasy-grass-background.jpg");
		margin-right: -10000px;
		margin-top: 104px;
	}

	#u94
	{
		padding-bottom: 4px;
		margin-right: -10000px;
	}

	#u119
	{
		z-index: 8;
		width: 14.14%;
		left: 2.5%;
	}

	#u132
	{
		width: 920px;
		min-height: 574px;
		margin-top: 158px;
		left: 20px;
	}

	#u201
	{
		padding-bottom: 2px;
		margin-right: -10000px;
		margin-top: 737px;
		width: 95.84%;
		left: 2.09%;
	}

	#pu204
	{
		margin-right: -10000px;
		margin-top: 12px;
		width: 25.55%;
		margin-left: 1.74%;
	}

	#u204
	{
		z-index: 13;
		width: 235px;
	}

	#u257
	{
		z-index: 32;
		width: 193px;
		margin-top: 5px;
	}

	#pu284
	{
		margin-top: 4px;
		width: 84.69%;
	}

	#u284
	{
		z-index: 33;
		height: 19px;
		width: 11.56%;
	}

	#u295-6
	{
		z-index: 34;
		width: 85.43%;
		left: 14.58%;
	}

	#pu251-10
	{
		margin-right: -10000px;
		margin-top: 36px;
		width: 16.53%;
		margin-left: 42.72%;
	}

	#u251-10
	{
		z-index: 22;
		min-height: 13px;
		width: 100%;
	}

	#u248-7
	{
		z-index: 15;
		margin-top: 5px;
		width: 100%;
	}

	#u234
	{
		z-index: 14;
		height: 102px;
		margin-right: -10000px;
		margin-top: 4px;
		width: 21.74%;
		left: 77.83%;
	}

	#u184
	{
		z-index: 10;
		width: 240px;
		min-height: 100px;
		margin-right: -10000px;
		margin-top: 391px;
		left: 50px;
	}

	#u102
	{
		z-index: 6;
		width: 734px;
		min-height: 124px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: left;
		text-decoration: none;
		text-indent: -1px;
		font-size: 64px;
		line-height: 77px;
		font-family: Comic Sans MS;
		position: relative;
		margin-right: -10000px;
		margin-top: 30px;
		margin-left: 100%;
		left: -760px;
	}

	#u189
	{
		z-index: 11;
		width: 270px;
		min-height: 100px;
		margin-right: -10000px;
		margin-top: 391px;
		margin-left: 50%;
		left: -126px;
	}

	#pu111
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 109px;
		width: 30.53%;
		margin-left: 69.48%;
	}

	#u111
	{
		z-index: 7;
		width: 293px;
		min-height: 45px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: right;
		font-size: 18px;
		line-height: 22px;
		position: relative;
		margin-left: 100%;
		left: -325px;
	}

	#u194
	{
		z-index: 12;
		width: 183px;
		min-height: 65px;
		margin-top: 237px;
		margin-left: 100%;
		left: -271px;
	}


